@import './variables.scss';
button {
  background: addColor(main-color);
  color: addColor(use);
  padding: .7rem 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  transition: transform .7s;
  &:hover {
    transform: translateY(-10px);
  }
  &:active {
    transform: scale(.8);
  }
}

.spinner {
  margin-left: .7rem;
}

.not-loading {
  display: none;
}